* {
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    color: white;
}

.body-top {
    background-color: #1F2937;
    color: white;
}

.button {
    background-color: #3882F6;
    color: white;
}

.body-middle {
    background-color: white;
    color: #1f2937;
}

.body-bottom {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: light italic;
}

.action {
    background-color: #3882F6;
    color: white;
}

.footer {
    background-color: #1F2937;
    color: white;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}